body{
font-family: Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#2c3e50;
color:white;
text-align:center;
padding:40px;
}

nav{
text-align:center;
background:#34495e;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
}

h2{
color:#2c3e50;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:8px;
padding:10px;
border-radius:5px;
}

.project{
background:white;
padding:15px;
margin:10px 0;
border-radius:5px;
}

footer{
text-align:center;
background:#2c3e50;
color:white;
padding:15px;
}